<div class="col-12 md-6 sm-4">
<h1>Add Auhtor</h1>
  <%= render 'form', Author: @author %>
<!-- in the form partial. we can refer to @author as, author -->
<div class="btn btn-warning">
<%= link_to 'Back', authors_path %>
</div>
</div>
