</div>
<div class="loader">Loading...</div>


<div class="main-container">
  <div style="display:block; width:100%;">
    <div style="width:50%; float: left; display: inline-block;">
      <div class="book-stack">
      <img src="https://p1.pxfuel.com/preview/666/1007/819/books-reading-literature-knowledge.jpg" alt="">
    </div>
  </div>
</div>

<!-- make sure image is sticky in the future!!!!! -->
  <div style="width:50%; float: left; display: inline-block;">
    <div class="book-search">
      <div class="text-center">
        <h1>Search for book or Author</h1>
      </div>
        <div class="">
          <div class="spacer"></div>
            <main id="main" class="main">
              <div class="serch-bar d-flex justify-content-center mb-4">
                <section id="search" class="results">
                  <div class="flex">
                    <input
                      id="search-box"
                      class="search-box"
                      placeholder="Search books by name, author, genre and etc ..."
                      aria-label="Search books"
                    />
                    <div class="btn btn-primary button"
                      id="installPWA"
                      onclick="installPWA()"
                      >search
                    </div>
                  </div>
                    <div class="list-book search">
                    </div>
                </section>
              </div>
          </div>
</div>




