<div class="text-center">
  <h1>Search for book</h1>
</div>
<div class="container">
  <div class="spacer"></div>
  <label class="theme-switch" for="checkbox" title="Night mode">
    <div class="slider round"></div>
  </label>
</aside>
<main id="main" class="main">
   <div class="serch-bar d-flex justify-content-center mb-4">
    <section id="search" class="results">
      <div class="flex">
        <input
          id="search-box"
          class="search-box"
          placeholder="Search books by name, author, genre and etc ..."
          aria-label="Search books"
        />
        <div class="btn btn-primary"
          id="installPWA"
          onclick="installPWA()"
          >search
        </div>
      </div>
      <div class="list-book search">
      </div>
    </section>
  </div>
</div>



