.container {
  // margin: 20px;
  border: 0.5px  black;
  box-shadow: 0 0 10px #e4dfd4;
  background-color: white;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
}

.container h1 {
  margin: 10px;
}
.container h2 {
  margin: 10px;
}
.container li {
  margin: 10px;
}
.container p {
  margin: 10px;
}
