// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "container";
@import "card";
@import "button";


footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
