.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar {
  // box-shadow: 0px 0px 8px gray;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.navbar  {
  float: left;
  // display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar, .navbar-expand-sm, .navbar-light, .navbar-lewagon:hover {
  background-color: white;
}

.navbar:hover {
  background: #F4F4F4;
  color: black;
}
.navbar :hover {
  color: black;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: black;

}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.navbar-light .navbar-brand {
  color: black;
  font-family: 'Great Vibes', cursive;
}


