.button {
  background-color: #F8F6DC;
  width: fit-content;
  border-radius: 8px;
  border: 0.1px black;
  box-shadow: 0px 0px 3px gray;
  padding: 8px;
  color: black;
  margin-bottom: 1px;
  text-shadow: 0px 0px 1px gray;
}


.button a:hover {
  text-decoration: none;
  color: gray;
}
